.heading{
  font-style: italic;
  color: blueviolet;
  text-align: center;
}

.nav-title{
  font-size: 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav-content{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}